 <section class="banner3">
        <h1 data-aos="zoom-in" data-aos-duration="2500"><span>7 VIDAS</span> RESCATANDO AMIGOS PELUDOS</h1>
    </section>
    <main class="principal">
        <div class="marco">
            <h2>CONTÁCTANOS</h2>
            <div class="linea"></div>
            <div class="principal__contenedor">
                <div class="principal__columna1">
                    <h3>Síguenos en nuestras redes sociales</h3>
                    <img src="images/contacto.JPG" alt="voluntarios" data-aos="fade-up" data-aos-duration="1500">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet maxime dolorum distinctio iste error non inventore quas tempore et minus beatae nulla incidunt eius perferendis ab exercitationem, id illo quod!</p>
                    <a href="#"><i data-aos="flip-left" class="fab fa-facebook-square" data-aos-duration="1000"></i></a> 
                    <a href="#"><i data-aos="flip-left" class="fab fa-twitter-square" data-aos-duration="2000"></i></a> 
                    <a href="#"><i data-aos="flip-left" class="fab fa-instagram-square" data-aos-duration="3000"></i></a> 
                </div>
                <div class="principal__columna2">
                    <h3>Envíanos un correo</h3>
                    <form action="">
                        <p>
                            <label for="nombre">Nombre(s):</label>
                            <input type="text" name="" id="nombre" maxlength="20" placeholder="Nombres" required>
                        </p>
                        <p>
                            <label for="apellido">Apellidos:</label>
                            <input type="text" name="" id="apellido" maxlength="20" placeholder="Apellidos" required>
                        </p>
                        <p>
                            <label for="correo">Correo:</label>
                            <input type="email" name="" id="correo" maxlength="20" placeholder="correo@dominio.com" required>
                        </p>
                        <p>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="" id="mensaje" cols="30" rows="10" required></textarea>
                        </p>
                        <input type="submit" value="Enviar" id="enviar">
                    </form>
                </div>
            </div>
        </div>
    </main>