 <section class="banner">
        <h1 data-aos="zoom-in" data-aos-duration="2500"><span>7 VIDAS</span> RESCATANDO AMIGOS PELUDOS</h1>
    </section>
    <main class="principal">
        <div class="marco">
            <h2>REFUGIO ANIMAL</h2>
            <div class="linea"></div>
            <h3>¿Qué es lo que hacemos?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet maxime dolorum distinctio iste error non inventore quas tempore et minus beatae nulla incidunt eius perferendis ab exercitationem, id illo quod!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem aliquid ut, praesentium quisquam commodi harum illum distinctio animi molestias, earum, laudantium at autem rerum inventore voluptatum sequi vitae magnam.</p>
        </div>
    </main>
    <section class="voluntarios">
        <div class="marco">
            <h2>¿Quieres ser parte de nosotros?</h2>
            <div class="linea"></div>
            <div class="marco__contenedor">
                <div class="marco__columna1" data-aos="fade-right" data-aos-duration="1500">
                    <img src="images/voluntarios.jpg" alt="gato-voluntario">
                </div>
                <div class="marco__columna2">
                    <h3>Voluntarios</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rem minus obcaecati placeat voluptatem! Odit autem incidunt reiciendis, totam, numquam aliquid aspernatur veritatis itaque consequatur modi, consequuntur cumque nobis fuga!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia obcaecati enim, placeat reprehenderit quos quo ea dolore aliquam eligendi nemo aspernatur illo, corrupti nostrum temporibus perspiciatis? Dolorum voluptas pariatur hic.</p>
                </div>
            </div>
            <a href="voluntarios.html" data-aos="zoom-in-up" data-aos-duration="1500">Regístrate</a>
        </div>
    </section>
    <section class="nosotros">
        <div class="marco">
            <h2>¿Quiénes somos?</h2>
            <div class="linea"></div>
            <div class="marco__contenedor">
                <div class="marco__columna1">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero culpa dignissimos expedita voluptatum debitis aliquid. Aliquid, cupiditate labore laborum exercitationem atque natus minima dolorum perspiciatis velit totam qui quae sit.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis mollitia alias iusto voluptatem accusantium, non magni quidem beatae quo illo at iste animi illum excepturi pariatur? Possimus voluptas molestiae in!</p>
                </div>
                <div class="marco__columna2"  data-aos="fade-left" data-aos-duration="1500">
                    <img src="images/nosotros.JPG" alt="nosotros">
                </div>
            </div>
            <a href="nosotros.html" data-aos="zoom-in-up" data-aos-duration="1500">Leer más</a>
        </div>
    </section>
