 <section class="banner2">
        <h1 data-aos="zoom-in" data-aos-duration="2500"><span>7 VIDAS</span> RESCATANDO AMIGOS PELUDOS</h1>
    </section>
    <main class="principal">
        <div class="marco marco1">
            <h2>NOSOTROS</h2>
            <div class="linea"></div>
            <h3>¿Quiénes somos?</h3>
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet maxime dolorum distinctio iste error non inventore quas tempore et minus beatae nulla incidunt eius perferendis ab exercitationem, id illo quod!</p>
            <div class="marco__nosotros">
                <div class="marco__nosotrosContenedor">
                    <img class="marco__nosotros--img" src="images/usuario.png" alt="usuario1">
                    <p>Integrante 1</p>
                </div>
                <div class="marco__nosotrosContenedor">
                    <img class="marco__nosotros--img" src="images/usuario.png" alt="usuario2">
                    <p>Integrante 2</p>
                </div>
                <div class="marco__nosotrosContenedor">
                    <img class="marco__nosotros--img" src="images/usuario.png" alt="usuario3">
                    <p>Integrante 3</p>
                </div>
                <div class="marco__nosotrosContenedor">
                    <img class="marco__nosotros--img" src="images/usuario.png" alt="usuario4">
                    <p>Integrante 4</p>
                </div>
            </div>
            <h3>Visión</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem aliquid ut, praesentium quisquam commodi harum illum distinctio animi molestias, earum, laudantium at autem rerum inventore voluptatum sequi vitae magnam.</p>
        </div>
    </main>