 <section class="banner1">
        <h1 data-aos="zoom-in" data-aos-duration="2500"><span>7 VIDAS</span> RESCATANDO AMIGOS PELUDOS</h1>
    </section>
    <main class="principal">
        <div class="marco">
            <h2>VOLUNTARIOS</h2>
            <div class="linea"></div>
            <div class="principal__contenedor">
                <div class="principal__columna1">
                    <h3>Únete a esta buena causa</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet maxime dolorum distinctio iste error non inventore quas tempore et minus beatae nulla incidunt eius perferendis ab exercitationem, id illo quod!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem aliquid ut, praesentium quisquam commodi harum illum distinctio animi molestias, earum, laudantium at autem rerum inventore voluptatum sequi vitae magnam.</p>
                    <img src="images/voluntarios.jpg" alt="voluntarios" data-aos="fade-up" data-aos-duration="1500">
                </div>
                <div class="principal__columna2">
                    <h3>Completa el formulario con tus datos</h3>
                    <form action="/voluntarios" method="POST">
                        <p>
                            <label for="nombre">Nombre(s):</label>
                            <input type="text" name="nombre" id="nombre" maxlength="20" placeholder="Nombres" required>
                        </p>
                        <p>
                            <label for="apellido">Apellidos:</label>
                            <input type="text" name="apellidos" id="apellido" maxlength="20" placeholder="Apellidos" required>
                        </p>
                        <p>
                            <label for="correo">Correo:</label>
                            <input type="email" name="correo" id="correo" maxlength="20" placeholder="correo@dominio.com" required>
                        </p>
                        <p>
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" name="telefono" id="telefono" placeholder="10 dígitos" maxlength="10" required>
                        </p>
                        <p>Selecciona donde quieres apoyar</p>
                        <p>
                            <label for="">Rescate</label>
                            <input type="checkbox" name="apoyo" value="Rescate" id="">
                        </p>
                        <p>
                            <label for="">Brigadas</label>
                            <input type="checkbox" name="apoyo" value="Brigadas" id="">
                        </p>
                        <p>
                            <label for="">Cuidado</label>
                            <input type="checkbox" name="apoyo" value="Cuidado" id="">
                        </p>
                        <p>
                            <label for="">Alimentos</label>
                            <input type="checkbox" name="apoyo" value="Alimentos" id="">
                        </p>
                        <p>
                            <label for="">Refugio</label>
                            <input type="checkbox" name="apoyo" value="Refugio" id="">
                        </p>
                        <input type="submit" value="Enviar Registro" id="enviar">
                    </form>
                    <p class="envio">{{confirmacion}} </p>
                </div>
            </div>
        </div>
    </main>